*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.8;
}

body.sidebar-open {
  overflow: hidden;
}

@media (max-width: 768px) {
  .caption,
  p {
    font-size: 0.875rem;
  }
}
