*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --header-height: 4.5rem;
  --tabs-height: 3.75rem;
}

@media (max-width: 600px) {
  :root {
    --header-height: 5.25rem;
    --tabs-height: 4.25rem;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.8;
}

body.sidebar-open {
  overflow: hidden;
}

@media (min-width: 900px) {
  body.sidebar-open {
    overflow: auto;
  }
}

@media (max-width: 768px) {
  .caption,
  p {
    font-size: 0.875rem;
  }
}
